/*

Darko Bunic
http://www.redips.net/
Mar, 2011.

*/
body {	
}

.hide-this {
	visibility: hidden;
}

.disp-input {
	/*display: inline-block;*/
	display: none;
	padding: 2px;
	width: 250px;
}

/* drag area */
#redips-drag {
}


/* drag objects (DIV elements inside table cells) */
.redips-drag {
	cursor: move;
	margin-left: 10px;
	z-index: 10;
	padding: 5px;
	padding-right: 2px;
	padding-left: 4px;
	background-color: white;
	color: #000;
	display: inline-block;
	border: 0px #CCC solid;
	font-size: 10pt; /* needed for cloned object */
	opacity: 0.7;	
	filter: alpha(opacity=70);
	/* without width, IE6/7 will not apply filter/opacity to the element ?! */
}

/* styles for left table */
#table1 {
	border-collapse: collapse;
	display: inline-block;
	margin-right: 10px;
	font-size: 10pt;
}
	#table1 span {
		font-size: 10pt;		
		padding-left: 10px;
	}
	/* border for table1 */
	#table1 td {
		border: 2px solid #DDC5B5;
		padding: 5px;	
		font-size: 0.5em;	
	}